body{
    background-image: linear-gradient(to right, rgb(91, 91, 243), rgb(185, 185, 248));
}

.container{
    width: 50%;
    padding: 50px;
}


.form-label{
    font-size: 20px;
    font-weight: 900;
}

#btn{
    background-color: rgb(7, 7, 206);
    color: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.contain{
    width: 80%;
    margin: 0 auto;
}

i{
    margin-left: 10px;
}
i:hover{
    font-size: 20px;
}

.alert-message.error {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background: rgb(255, 0, 0, 0.1);
  text-align: center;
}

.alert-message.error p {
  color: rgb(255, 0, 0);
  font-weight: 600;
  font-size: 20px;
}

.alert-message.success {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background: rgba(30, 93, 3, 0.1);
  text-align: center;
}

.alert_message.lg{
  text-align: center;
}

.alert-message.success p {
  color: rgb(30, 93, 3);
  font-weight: 600;
  font-size: 20px;
}
